<h3>List: <%= @list.name %></h3>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.movie.title %>
    <%= bookmark.comment %>
    <%= link_to "Remove this movie", bookmark_path(bookmark), data:{ turbo_method: "delete", turbo_confirm:"Are you sure?"} %>
  </li>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path %>

<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new bookmark</button>
  <div data-toggle-target="togglableElement" class="d-none">
      <%= render "form", bookmark: @bookmark %>
  </div>
</div>

<%# <%=# link_to "Add a bookmark to this list", new_list_bookmark_path(@list) %>
